* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


body,
html {
  height: 100%;
  background:black;
}

.y-sticky {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.y-wrap {
  margin: 0 auto;
  width: 100%;
}
.top {
  background-color: purple;
  color: aliceblue;
  padding: 5px;
  font-size:larger;

}

.overlay{
  z-index: 5;
}

.top-container{
  display: grid;
  display: inline-grid;
  width: 100%;
  grid-template-columns: auto auto auto;
}

.top{
  color: white;
  text-align: center;
}

gameScreen {
  flex: 1 0 auto;
 width: 100%}


.bottomBox{
position: fixed;
background-color: purple;
height: 15%;
width: 100%;
bottom: 0;
}


.player-block{
  position: absolute;
  display: grid;
  width:100%;
  grid-auto-flow: column;
  align-content: center;
  justify-content: center;  
}


.buttonGroup button {
  background-color: #343A40;
   border: 1px solid transparent; 
   border-radius: 4px;
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
  width: 33.3%;
  }

  .buttonGroup button:not(:last-child) {
    border-right: none; 
  }

  .buttonGroup button:hover {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation:slidebg 5s linear infinite;
  }

  @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }

  modal{
    text-align: center;
  }
 
