* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
  
  
body,
html {
  height: 100%;
}

.y-sticky {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.y-wrap {
  margin: 0 auto;
  width: 90%;
}
.header {
  background-color: #ccc;
  padding: 20px 0;
}

gameScreen {
  flex: 1 0 auto;
  padding: 20px 0;
}

.footer {
  background-color: #333;
  color: rgba(255, 255, 255, 0.5);
  flex-shrink: 0;
  padding: 30px 0;
}

.player-block {
  display: flex;
}

.player-block__player {
      text-align: center;
      padding: 100px 0;
      width: 100%;
    }
  
  button {
    border: 1px solid transparent;
    cursor: pointer;
    margin: 0 6px;
    padding: 6px 16px;
  }